.field__input {
  padding: 0.75em 1em;
}

.btn {

  font-family: var(---font-stack-button);
  font-weight: var(---font-weight-button);
  font-style: var(---font-style-button);
  border-radius: var(---button-radius);
  padding: 1em 1.5em;

  border: 1px solid var(---color-text);
  text-transform: var(---font-heading-caps);
  letter-spacing: 2px !important;

  letter-spacing: var(---button-letter-spacing);

  &.btn--disabled {
    border-color: #ccc !important;
  }

}
