.total-line {

  .total-line__name {

  }

  .total-line__price {
    font-family: var(---font-stack-heading);
    font-weight: var(---font-weight-heading);
    font-style: var(---font-style-heading);
    letter-spacing: 2px;
    text-transform: var(---font-heading-caps);
  }

  .order-summary__emphasis {
    color: #333;
    font-weight: var(---font-weight-heading);
  }

  .payment-due__currency {
    font-family: var(---font-stack-body);
    font-weight: var(---font-weight-body);
    letter-spacing: 0;
  }

  .payment-due__price {
    font-weight: inherit;
    letter-spacing: 2px;
  }

}
