.product-table {

  .product {

    .product__description__name,
    .product__price {
      font-family: var(---font-stack-heading);
      font-weight: var(---font-weight-heading);
      font-style: var(---font-style-heading);
      letter-spacing: var(---font-heading-space);
      text-transform: var(---font-heading-caps);
    }

  }

  .order-summary__emphasis,
  .product__price {
    font-weight: var(---font-weight-heading);
  }

}
