@import '../custom/utilities/_variables.scss';
@import '../custom/utilities/_mixins.scss';

.styleguide-section {

  padding: 20px 0;

  @include respond-to($medium-up) {
    padding: 40px 0;
  }

  .page-width {
    max-width: 1000px;
    margin: auto;
  }

  .section-header {

  }

  .section-body {

  }

  .section-footer {

  }

}

.styleguide-navigation {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* ----- Color Swatches ----- */

.styleguide-color-swatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  a {
    margin: 0.25em;
    &:after {
      content: none;
    }
  }
}


/* ----- Docs Sections ----- */

.Rte--preview,
.rte--preview {

  padding: 40px;
  border: 1px solid var(---color-line);
  margin-bottom: 50px;

  background: var(---background-color--content-1);

}

/* ----- Color Swatches ----- */

.docs-color-swatches {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.docs-color-swatch {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 1em;

  text-align: center;

  .docs-color-swatch__background {

    border-radius: 100%;
    cursor: pointer;

    background-color: var(--swatch-background-color);
    border: 1px solid var(--swatch-border-color);

    transition: 0.25s background, 0.25s color;

    &:hover,
    &:focus {
      background-color: var(--swatch-background-color--hover);
      .docs-color-swatch__swatch {
        color: var(--swatch-color--hover);
      }
    }

    &:active {
      .docs-color-swatch__swatch {
        color: var(--swatch-color--active);
      }
    }

  }

  .docs-color-swatch__swatch {
    margin: 1em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: currentColor;
    color: var(--swatch-color);
    transition: 0.25s background, 0.25s color;
  }

  .docs-color-swatch__title {
    margin-top: 0.5em;
  }

  // Brand Colors

  $brand-colors: "brand-1", "brand-2", "brand-3", "brand-4", "brand-5", "brand-6", "brand-7", "brand-8";

  @each $color-name in $brand-colors  {
    &.docs-color-swatch--#{$color-name} {
      --swatch-background-color: var(---background-color--#{$color-name});
      --swatch-background-color--hover: var(---background-color--#{$color-name}-hover);
      --swatch-color: var(---color--#{$color-name});
      --swatch-border-color: var(---background-color--#{$color-name}-active);
      --swatch-color--hover: var(---color--#{$color-name}-hover);
      --swatch-color--active: var(---color--#{$color-name}-active);
    }
  }

  // System Colors

  $system-colors: "default", "primary", "secondary", "tertiary", "success", "warning", "danger", "info", "disabled";

  @each $color-name in $system-colors  {
    &.docs-color-swatch--#{$color-name} {
      --swatch-background-color: var(---background-color--#{$color-name});
      --swatch-background-color--hover: var(---background-color--#{$color-name}-hover);
      --swatch-color: var(---color--#{$color-name});
      --swatch-border-color: var(---background-color--#{$color-name}-active);
      --swatch-color--hover: var(---color--#{$color-name}-hover);
      --swatch-color--active: var(---color--#{$color-name}-active);
    }
  }

}

/* ----- Logos ----- */

.styleguide-logos {

  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

  background: #f7f7f7;

  &.styleguide-icons--small {
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% !important;
  }

  svg {
    width: 100%;
    height: 100%;
    * {
      fill: var(---color--default);
    }
  }

  > div {
    position: relative;
    background: #fff;
    padding: 20px;
    outline: 1px solid #e6e6e6;
    &:hover {
      transform: scale(1.5);
      z-index: 1;
      svg {
        * {
          fill: var(---color--primary);
        }
      }
    }
  }

}
